

.hidden {
    display: none;
}



.coluna {
    flex-basis: 50%;
}




/* BODY */
body {
    background-color: tan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.5;
}



/* HEADER */
header {
    background-color:rgb(80, 37, 6);
    border: 3px solid tan;
    display: flex;
    align-items: center;
}


header div img{
    width:300px;
    height:200px;
    text-align: center;
}



/*PAGINA INICIAL */

main h1{
    color:rgb(80, 37, 6);
    padding: 0.5rem;
    font-size: 3.0rem;
}

main h2{
    color:rgb(80, 37, 6);
    padding: 0.5rem;
    font-size: 1.5rem;
}

main p{
    padding: 0.5rem;
    
}

main p a {
    color:rgb(80, 37, 6);
}

main .container{
    border: 2px solid rgb(80, 37, 6);
    background-color: white;
    margin: 0 auto;
    max-width: 1350px;
    padding: 25px;
}

main .coluna section{
    border: 1px solid tan;
    margin: 0 10px 20px;
    padding: 20px;
    min-height: 187px;

}

main .coluna section h2{
    margin: 0 0 15px;
}

main .coluna section p{
    padding: 0.5rem;
}

main .coluna img{
    text-align: center;
    width: 300px;
}




/*FOOTER */

footer .container-footer{
    border: 3px solid tan;
    padding: 1.5rem;
    background-color:rgb(80, 37, 6);
    margin: 0;
    text-align: center;
    display: block;
    overflow:auto
}

footer h2{
    color: tan;
    line-height: 2.0;
}

footer nav ul{
    padding-left: 1rem;
    list-style-type: none;    
}

footer nav ul li{
    margin: 5px 20px;
    text-align: center;
    display: inline-block;
}

footer nav ul li a{
    color:tan;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    text-decoration: none;
}

footer nav ul li a img{
    width: 40px;
}

footer .nav ul li a figcaption{
    list-style-type: none;
}




/*EXTRAS */
/*MEDIAS */


@media only screen and (min-width: 768px) {
    .linha {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer nav ul{
        display: flex;
        justify-content: center;      
    }

    footer nav ul li{
        margin: 5px 30px;
    }

    main .coluna section{
        width:605px;
        height:900px;
    }

    main .coluna img{
        width: 565px;
    }

    header div img{
        width:1700px;
        height:437px;
    }

    main .container{
        border: 3px solid tan;
        max-width: 1350px;
        padding: 30px;
    }
    
    
}

